@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.header{
    
    background-color: rgba(229, 84, 115, 0.1);
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    
}


.container-heading{
    color: rgb(39, 39, 39);
font-size: 3.1rem;
font-weight: 800;
text-align: left;
}

.img-container{
    margin-top: 25px;
}

.img-container img{
    width: 100%;
}

.container-description{
    color: rgba(39, 39, 39, 0.6);
font-size: 0.8rem;
font-weight: 400;
margin-top: -10px;
margin-bottom: 20px;
}

.btn-primary{
    border-radius: 8px;
background-color: rgb(229, 84, 115);
border: none;
padding: 15px 30px;
color: rgb(255, 255, 255);
font-size: 0.8rem;
}


@media screen and (max-width:576px) {
    .container{
        flex-direction: column;
        
    }
    .container-info{
        margin-left: 10px;
    }

   

    
}






 @media screen and (min-width:577px) and (max-width:992px) {
    .container{
        flex-direction: column;
        
    }
    .container-info{
        margin-left: 10px;
    }

    
}


